<h1>Welcome to The Spa, @ViewBag.Username</h1>
<a asp-controller="Spa" asp-action="Index">Back to Spa</a>
<footer>
    <div>
        <p>User Email: @ViewBag.Email</p>
        <p>Date Joined: @ViewBag.Date</p>
    </div>
</footer>